html {
   height:100%;
    position:relative;
}
body {
    height:100%;
    position:relative;
   
}
    .scrollAttention-1, .scrollAttention-2 {
        fill: none;
        stroke: #000;
        stroke-miterlimit: 10;
      }

      .scrollAttention-1 {
        stroke-width: 10px;
      }

      .scrollAttention-2 {
        stroke-width: 5px;
      }
.welcome-1 {
        fill: none;
        stroke: #000;
        stroke-miterlimit: 10;
        stroke-width: 6px;
      }
.myface-1,
.myface-2,
.myface-3 {
    fill: none;
    stroke-miterlimit: 10;
}

.myface-1 {
    stroke: blue;
}

.myface-1,
.myface-2 {
    stroke-width: 0.5px;
}

.myface-2,
.myface-3 {
    stroke: #000;
}

#my-face-container {
    width: 400px;
    max-width: 100%;
    margin: 0 auto;
    height:50%;
    position: relative;
    svg {
        position:relative;
    }
}
header {
    height:200%;
    position:relative;
}
#welcome-container {
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    height: 50%;
    top:0;
    svg {
        position: relative;
        top:35%;
    }
    div {
        width:40%;
        max-width:100%;
        position:relative;
        left:60%;
    }
}
#main-about-me {
    text-align:center;
}
#design-graph-container,
#development-graph-container,
#main-about-container {
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    height:100%;
}

#design-graph-container {
    top:40%;
    div {
        position: absolute;
        text-align: center;
        width: 100%;
        font-size: 20px;
        font-family: 'Comfortaa', cursive;
        p {
            margin: 19.5px auto;
            &:first-child {
                margin: 12px auto;
            }
        }
    }
}

#development-graph-container {
    div {
        position: absolute;
        text-align: center;
        width: 100%;
        font-size: 20px;
        font-family: 'Comfortaa', cursive;
        font-weight: bold;
        p {
            margin: 19.5px auto;
            &:first-child {
                margin: 12px auto;
            }
        }
    }
}

#and-enviroments-line {
    position: relative;
    top: 140px;
    text-align: center;
}

#outside-workflow-wrapper {
    position: relative;
    max-width: 100%;
    text-align: center;
    width: 800px;
    margin: 0 auto;
}

#go-to-workflow-container {
    position: relative;
    margin-left: 95px;
    margin-right: 95px;
    font-family: 'Syncopate', sans-serif;
    #environments-container {
        position: absolute;
        top: 110px;
        left: -90px;
        text-align: center;
        font-size: 35px;
    }
    #goto-codes {
        position: absolute;
        top: 110px;
        right: -95px;
        text-align: center;
        font-size: 24px;
    }
}

.devgraph-1 {
    fill: #e6e6e6;
}

.devgraph-2 {
    fill: #6f6;
}

.goto-1 {
    fill: #ff931e;
}

#main-about-container {
    h1 {
        font-family: 'Barrio', cursive;
        text-align: center;
        font-size: 60px;
    }
}

#about-me-h1 {
    font-family: 'Barrio', cursive;
    text-align: center;
    font-size: 60px;
}